<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <img src="../../../assets/prefeitura_1.png">
      <h2>Página Não Encontrada!</h2>
      <div class="error-details">
        Desculpe, algum erro ocorreu e a página solicitada não foi encontrada!<br>
      </div>
      <div class="error-actions">
        <button class="btn btn-primary" 
          (click)="navigateTo(['home'])">
          Voltar para Dashboard
        </button>
        <button class="btn btn-secondary" >
          Contatar Suporte
        </button>
      </div>
    </div>
  </div>

</div>