<div class="row">
   <div class="col-12 p-10">
      <div class="text-center">
         <h3>Signup</h3>
      </div>
   </div>
   <div class="col-12 p-10">
      <p>
         <mat-form-field appearance="legacy" class="w-100">
            <mat-label>E-mail</mat-label>
            <input [(ngModel)]="_object.username" matInput type="email" placeholder="Entre com seu e-mail">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint>Email para cadastro</mat-hint>
         </mat-form-field>
      </p>
   </div>
   <div class="col-12 p-10">
      <p>
         <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Confirmar e-mail</mat-label>
            <input [(ngModel)]="_object.confirm_username" matInput type="email" placeholder="Entre com seu e-mail">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint>Confirme seu e-mail para cadastrado</mat-hint>
         </mat-form-field>
      </p>
   </div>
   <div class="col-12 p-10">
      <p>
         <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="_object.password" matInput type="password" placeholder="Entre com sua senha">
            <mat-icon matSuffix>{{isStrongPassword() ? 'done' : 'clear'}}</mat-icon>
            <mat-hint>Senha para cadastro. <b>Ela deve ter pelo menos 8 caracteres, um maiúsculo, um minúsculo, um numeral e um caractere especial</b></mat-hint>
         </mat-form-field>
      </p>
   </div>
   <div class="col-12 p-10">
      <p>
         <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Confirme sua senha</mat-label>
            <input [(ngModel)]="_object.confirm_password" matInput type="password" placeholder="Entre com sua senha">
            <mat-icon matSuffix>{{(isStrongPassword() && _object.confirm_password ===  _object.password)? 'done_all' : 'clear'}}</mat-icon>
            <mat-hint>Confirme sua senha para cadastro</mat-hint>
         </mat-form-field>
      </p>
   </div>
   <div class="col-12 p-10">
      <p>
         <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Primeiro Nome</mat-label>
            <input [(ngModel)]="_object.first_name" matInput type="text" placeholder="Entre com seu primeiro nome">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Entre com seu primeiro nome</mat-hint>
         </mat-form-field>
      </p>
   </div>
   <div class="col-12 p-10">
      <p>
         <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Último Nome</mat-label>
            <input [(ngModel)]="_object.last_name" matInput type="text" placeholder="Entre com seu último nome">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Entre com seu último nome</mat-hint>
         </mat-form-field>
      </p>
   </div>
   <div class="col-12 p-10">
      <button mat-raised-button class="w-100 mb-10" color="accent" (click)="signup()"
         [disabled]="!((_object.username && _object.password && _object.first_name && _object.last_name) && (_object.username === _object.confirm_username) && (_object.password === _object.confirm_password) && (isStrongPassword()))">Cadastrar</button>
      <button mat-raised-button class="w-100" (click)="navigateTo(['login'])">Voltar</button>
   </div>
</div>