<div class="row mb-32 h-100">
    <div class="col-12">
        <div class="p-10">
            <mat-expansion-panel class="mat-elevation-z1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Redefinir Dados Pessoais
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-12">
                        <p>
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>E-mail</mat-label>
                                <input [(ngModel)]="_object.username" matInput type="email"
                                    placeholder="Entre com seu e-mail">
                                <mat-icon matSuffix>alternate_email</mat-icon>
                                <mat-hint>Email cadastrado</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Primeiro Nome</mat-label>
                                <input [(ngModel)]="_object.first_name" matInput type="text"
                                    placeholder="Entre com seu primeiro nome">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Primeiro nome cadastrado</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Último Nome</mat-label>
                                <input [(ngModel)]="_object.last_name" matInput type="text"
                                    placeholder="Entre com seu último nome">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Último nome cadastrado</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <p *ngFor="let _phone of _object.phones">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Telefone</mat-label>
                                <input [(ngModel)]="_phone.value" matInput type="text"
                                    placeholder="Entre com telefone">
                                <mat-icon matSuffix>add_ic_call</mat-icon>
                                <mat-hint>Telefone para contato</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <button mat-raised-button class="w-100" color="accent" (click)="saveUser()"
                            [disabled]="!((_object.username && _object.first_name && _object.last_name))">Redefinir
                            Dados Pessoais</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <div class="col-12" *ngIf="!_isInvited">
        <div class="p-10">
            <mat-expansion-panel class="mat-elevation-z1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Convites
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="_object.invites" class="w-100">
                
                                <ng-container matColumnDef="icon">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="material-icons">
                                            alternate_email
                                        </span>
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="user">
                                    <th mat-header-cell *matHeaderCellDef> Usuário </th>
                                    <td mat-cell *matCellDef="let element">
                                        <p>{{element.user ? element.user.username : 'Convite sem Usuário'}}</p>
                                        <p>{{element.user ? element.user.first_name + ' ' + element.user.last_name : ''}}</p>
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="created_at">
                                    <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
                                    <td mat-cell *matCellDef="let element">{{element.created_at | date:'dd/MM/yyyy HH:mm'}}</td>
                                </ng-container>
                 
                                <ng-container matColumnDef="code">
                                    <th class="text-center" mat-header-cell *matHeaderCellDef></th>
                                    <td class="text-center" mat-cell *matCellDef="let element">
                                        <button [disabled]="element.user" mat-button color="acent" (click)="generateLink(element)">Copiar Link</button>
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="actions">
                                    <th class="text-center" mat-header-cell *matHeaderCellDef> </th>
                                    <td class="text-center" mat-cell *matCellDef="let element">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item *ngIf="element.user">
                                                <mat-icon>edit</mat-icon>
                                                Redefinir Senha
                                            </button>
                                            <button mat-menu-item (click)="deleteInvite(element)">
                                                <mat-icon>clear</mat-icon>
                                                {{element.user ? 'Apagar Usuário' : 'Apagar Convite'}}
                                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>
                
                                <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
                            </table>
                            <mat-paginator (page)="changeTablePage($event)" [length]="_total" [pageSize]="_data.length">
                            </mat-paginator>
                        </div>
                    </div>
                    <div class="col-12">
                        <button mat-raised-button class="w-100" color="accent" (click)="createInvite()">Criar novo convite</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <div class="col-12">
        <div class="p-10">
            <mat-expansion-panel class="mat-elevation-z1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Redefinir Senha
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-12">
                        <p>
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Senha Atual</mat-label>
                                <input [(ngModel)]="_object.password" matInput type="password"
                                    placeholder="Entre com sua senha">
                                <mat-icon matSuffix>lock</mat-icon>
                                <mat-hint>Sua senha atual</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Nova Senha</mat-label>
                                <input [(ngModel)]="_object.new_password" matInput type="password"
                                    placeholder="Entre com a nova senha">
                                <mat-icon matSuffix>lock</mat-icon>
                                <mat-hint>Nova senha para cadastro</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Senha</mat-label>
                                <input [(ngModel)]="_object.confirm_new_password" matInput type="password"
                                    placeholder="Confirme sua nova senha">
                                <mat-icon matSuffix>lock</mat-icon>
                                <mat-hint>Confirme sua nova senha para cadastro</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-12">
                        <button mat-raised-button class="w-100" color="accent" (click)="savePassword()"
                            [disabled]="!((_object.password && _object.new_password && _object.confirm_new_password) && (_object.new_password === _object.confirm_new_password))">Redefinir
                            Senha</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>

    </div>

    <div class="col-12">
        <div class="p-10">
            <mat-expansion-panel class="mat-elevation-z1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Encerrar Conta
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-12">
                        <button mat-raised-button class="w-100" color="accent" (click)="deleteUser()">Encerrar Conta</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>

    </div>
</div>