body {
    background-image: none !important;
}

.mat-form-field-underline {
    background-color: green;
}

mat-card-content > .row .col-12 {
    padding: 2vh 10% 1vh 10%;
}

mat-card-content > .row .col-12 button {
    margin-top: 5%;
}

mat-card-content button {
    border-radius: 30px;
}

mat-card {
   border-radius: 10%; 
}

.main {
    background-color: #FCFBFB;
    height: 100%;
}

.wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;    /* Footer height */
    min-height: 100vh;

    @media(min-width:768px){
        width: 80%;
    }  
}

