<div class="main">
   <div class="container wrapper">
      <div class="row align-items-center h-100">
         <div class="col-md-6 col-sm-10 mx-auto">
            <div class="row mb-32">
               <div class="col-12">
                  <div class="float-right">
                     <button mat-button color="primary" (click)="changeArea()">
                        {{this._loginArea ? 'Verificar arquivo': 'Voltar para Login'}}
                     </button>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <div [hidden]="_uploadArea">
                     <ng-container *ngTemplateOutlet="loginArea"></ng-container>
                  </div>
                  <div [hidden]="_loginArea">
                     <ng-container *ngTemplateOutlet="uploadArea"></ng-container>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<ng-template #loginArea>
   <div class="row">
      <div class="col-12 p-10">
         <div class="text-center">
            <h3>Login</h3>
         </div>
      </div>
      <div class="col-12 p-10">
         <div class="row">
            <div class="col-12">
               <div class="float-right">
                  <a href="javascript:void(0)" (click)="navigateTo(['signup'])">Novo?</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 p-10">
         <p>
            <mat-form-field appearance="legacy" class="w-100">
               <mat-label>E-mail</mat-label>
               <input matInput type="email" [(ngModel)]="_object.username" placeholder="Entre com seu e-mail">
               <mat-icon matSuffix>alternate_email</mat-icon>
               <mat-hint>Email cadastrado</mat-hint>
            </mat-form-field>
         </p>
      </div>
      <div class="col-12 p-10">
         <p>
            <mat-form-field appearance="legacy" class="w-100">
               <mat-label>Senha</mat-label>
               <input matInput type="password" [(ngModel)]="_object.password" placeholder="Entre com sua senha">
               <mat-icon matSuffix>lock</mat-icon>
               <mat-hint>Senha cadastrada</mat-hint>
            </mat-form-field>
         </p>
      </div>
      <div class="col-12 p-10">
         <div class="row">
            <div class="col-md-6 col-sm-12">
               <div class="float-left">
                  <mat-checkbox class="example-margin" [(ngModel)]="_continueConnected">Continuar conectado
                  </mat-checkbox>
               </div>
            </div>
            <div class="col-md-6 col-sm-12">
               <div class="float-right">
                  <!--<a href="javascript:void(0)" (click)="changeForm('_recoveryForm')">Esqueceu a senha?</a>-->
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 p-10">
         <button mat-raised-button class="w-100" color="accent" (click)="login()"
            [disabled]="!(_object.username && _object.password)">Fazer Login</button>
      </div>
   </div>
</ng-template>

<ng-template #uploadArea>
   <div class="row">
      <div class="col-12 p-10">
         <div class="text-center">
            <h3>Verificar Arquivo</h3>
         </div>
      </div>
      <div class="col-12 p-10">
         <p>
            <mat-form-field appearance="legacy" class="w-100">
               <mat-label>Código</mat-label>
               <input matInput type="text" [(ngModel)]="_object.id"
                  placeholder="Entre com o código validador do arquivo">
               <mat-icon matSuffix>attach_file</mat-icon>
               <mat-hint>Entre com o código para validação do arquivo</mat-hint>
            </mat-form-field>
         </p>
      </div>
      <div class="col-12 p-10">
         <app-upload #uploadRef></app-upload>
      </div>
      <div class="col-12 p-10" *ngIf="_result">
         <h5>
            Resultado: {{_result.match ? 'Confere!': 'Não Confere!'}}
         </h5>
         <p>
            Hash: {{_result.hash}}
         </p>
      </div>
      <div class="col-12 p-10">
         <button mat-raised-button class="w-100 mb-10" color="accent" (click)="verify()"
            [disabled]="!(_object.id && uploadRef.file)">Verificar</button>
         <button mat-raised-button class="w-100 mb-10" (click)="reset()">Redefinir</button>
      </div>
   </div>
</ng-template>

<ngx-spinner></ngx-spinner>
